---
name: release

on:
  push:
    tags: ["*"]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Build and Deploy Collection
        uses: 0x022b/galaxy-role-import-action@1.0.0
        with:
          galaxy_api_key: "${{ secrets.ANSIBLE_GALAXY_TOKEN }}"
